.page {
    min-height: 100%;
}
.sidebar {
    background: rgb(52, 73, 94);
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.sidebar .inner {
    padding: 0;
}
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.sidebar ul li a {
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    font-size: 2em;
}
.article {
    min-height: 100%;
}
.article-wrapper {
    margin: 2em;
    padding: 2em;
    max-width: 992px;
    background: rgb(236, 240, 241);
}
.article-wrapper,
.article-wrapper div {
    color: rgb(44, 62, 80);
}
.article-wrapper h1 {
    margin-top: 0;
}

h2,h3,h4,h5 {
    margin-top: 2em;
}


@media (max-width: 992px) {
    .article {
        padding: 0;
    }
    .article-wrapper {
        margin: 0;
        max-width: 100%;
    }
}