<!DOCTYPE html>
<html lang="en">
<head>
  <title>Twisted FTW</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='style.css' rel='stylesheet' type='text/css'>
  <style>
  div {
    border: 0px solid #f00;
  }
  </style>
</head>
<body ng-app="main">
  <div class="row main-container">
    
    <div class="hero">
      <div class="title">Twisted</div>
      <div class="subtitle-container">
        <div class="subtitle"><nobr>for the win!</nobr></div>
      </div>
    </div>

    <div class="spotlight" ng-controller="CarouselCtrl">
      <div class="content" ng-class="{expanded: expanded}">
        <h2>#{{ index+1 }} With Twisted you can <span class="whatyoucando">{{ showing.ability }}</span></h2>
        <div class="spotlight-guts" ng-bind-html-unsafe="showing.content">
          
        </div>
      </div>
      <div class="row controls">
        <div class="col-xs-6">
          <button class="btn btn-link" ng-click="prev()">&lt;</button>
          <button class="btn btn-link" ng-click="paused=!paused">{{ (paused && 'Resume' || 'Pause') }}</button>
          <button class="btn btn-link" ng-click="next()">&gt;</button>
        </div>

        <div class="col-xs-6 right">
          <button class="btn btn-link" ng-click="expanded=!expanded">{{ (expanded && 'Collapse' || 'Expand') }}</button>
        </div>
      </div>
    </div>

    <div class="row" ng-controller="TutorialCtrl">
      <div class="row">
        
        <div class="col-md-4">
          <div class="section section-core">
            <h2>Core</h2>
            <link-list section="core" index="index"></link-list>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="section section-utility">
            <h2>Utility</h2>
            <link-list section="utility" index="index"></link-list>
          </div>
        </div>

        <div class="col-md-4">
          <div class="section section-test">
            <h2>Testing</h2>
            <link-list section="testing" index="index"></link-list>
          </div>
        </div>

      </div>

      <div class="row">
        

        <div class="col-md-4">
          <div class="section section-web">
            <h2>Web</h2>
            <link-list section="web" index="index"></link-list>
          </div>
        </div>

        <div class="col-md-4">
          <div class="section section-protocols">
            <h2>Protocols</h2>
            <link-list section="protocols" index="index"></link-list>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="section section-chat">
            <h2>Chat</h2>
            <link-list section="chat" index="index"></link-list>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="section section-database">
            <h2>Database</h2>
            <link-list section="database" index="index"></link-list>
          </div>
        </div>

        <div class="col-md-4">
          <div class="section section-serial">
            <h2>Serial</h2>
            <link-list section="serial" index="index"></link-list>
          </div>
        </div>

        <div class="col-md-4">
          <div class="section section-processes">
            <h2>Processes</h2>
            <link-list section="process" index="index"></link-list>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="section section-mail">
            <h2>Mail</h2>
            <link-list section="mail" index="index"></link-list>
          </div>
        </div>

      </div>

    </div>

    <div class="row footer">
      <div class="col-md-6">
        Copyright &copy; TwistedFTW<br/>
        This site is not affiliated with <a href="http://twistedmatrix.com/">Twisted Matrix Laboritories</a>.
      </div>
      <div class="col-md-6 right">
        <a href="https://github.com/iffy/twistedftw/tree/gh-pages">Fork me on GitHub</a>
      </div>
    </div>

  </div>

  

  <template name="irc-server.title">host your own IRC server</template>
  <template name="irc-server.html">
    <pre class="code">twistd -n words --irc-port tcp:8400 --group roomname --auth memory:joe:joespassword</pre>
  </template>

  <template name="staticweb-server.title">run a static webserver</template>
  <template name="staticweb-server.html">
    <pre class="code">twistd -n web --port tcp:8400 --path /tmp</pre>
  </template>

  <template name="run-trial.title">run unit tests faster!</template>
  <template name="run-trial.html">
    <pre class="code">trial -j 4 path/to/test_file.py</pre>
  </template>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="js/mainapp.js"></script>
</body>
</html>