<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
  .chatbox .history {
    height: 6em;
    overflow-y: auto;
  }
  </style>
</head>
<body ng-app="ftwdemo">
  <a href="/start">Start again</a>

  <div class="chatbox" ng-controller="ChatBoxCtrl">
    <div class="history" stick-to-bottom="messages">
      <div ng-repeat="m in messages">
        <span>{{ m.who }}:</span>
        <span>{{ m.msg }}</span>
      </div>
    </div>
    <input type="text" ng-model="messageinput" enter="say(messageinput); messageinput=''" placeholder="type a message (press Enter to send)" size="40">
  </div>

  <div ng-controller="ConnectionCtrl">
    <h2>Connected users</h2>
    <div ng-repeat="name in data.wholist">{{ name }}</div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script>
  var app = angular.module('ftwdemo', []);

  app.factory('EventSource', function() {
    return new EventSource(window.location.pathname + '/events');
  })

  app.factory('Events', function($rootScope, EventSource) {
    this.handlers = {
      'status': [],
      'who': [],
      'name': [],
      'd': [],
      'error': []
    };
    this.listenFor = function(eventType, handler) {
      this.handlers[eventType].push(handler);
    }

    this._gotData = function(eventType, data) {
      angular.forEach(this.handlers[eventType], function(handler) {
        $rootScope.$apply(function() {
          handler(data);
        });
      })
    }
    this._handleData = function(eventType, source, parsejson) {
      source.addEventListener(eventType, function(d) {
        var data = d;
        if (parsejson) {
          data = angular.fromJson(d.data);
        }
        this._gotData(eventType, data);
      }.bind(this))
    }

    this._handleData('status', EventSource, true);
    this._handleData('name', EventSource, true);
    this._handleData('who', EventSource, true);
    this._handleData('d', EventSource, true);
    this._handleData('error', EventSource);

    return this;
  })

  app.factory('Data', function(Events) {
    var ret = {
      user: {},
      wholist: []
    };
    Events.listenFor('name', function(name) {
      ret.user.name = name;
    })
    Events.listenFor('who', function(wholist) {
      console.log(wholist);
      ret.wholist.length = 0;
      angular.forEach(wholist, function(item) {
        ret.wholist.push(item);
      })
    })
    Events.listenFor('d', function(msg) {
      if (msg.event == 'enter') {
        ret.wholist.push(msg.who);
      } else if (msg.event == 'leave') {
        ret.wholist.splice(ret.wholist.indexOf(msg.who), 1);
      }
    });
    Events.listenFor('error', function(msg) {
      // What do we do when the server is dead?
    });
    return ret;
  });

  app.directive('enter', function() {
    return {
      restrict: 'A',
      link: function(scope, element, attrs) {
        element.bind('keyup', function(ev) {
          if (ev.keyCode == 13) {
            scope.$apply(attrs.enter);
          }
        })
      }
    }
  })

  app.directive('stickToBottom', function() {
    return {
      restrict: 'A',
      scope: {
        'messages': '=stickToBottom'
      },
      link: function(scope, element, attrs) {
        var el = element[0];
        scope.stick = true;

        element.bind('scroll', function() {
          scope.adjustStick();
        });

        scope.$watch('messages', function() {
          if (scope.stick) {
            // move to bottom
            el.scrollTop = el.scrollHeight - el.offsetHeight;
          }
        }, true);

        scope.adjustStick = function() {
          if (el.scrollTop + el.offsetHeight == el.scrollHeight) {
            // scrolled to the bottom
            scope.stick = true;
          } else {
            // not scrolled to the bottom
            scope.stick = false;
          }
        }
        scope.adjustStick();
      }
    }
  });

  app.controller('ConnectionCtrl', function($scope, Data) {
    $scope.data = Data;
  })


  app.controller('ChatBoxCtrl', function($scope, $http, Events, Data) {
    $scope.messages = [];
    $scope.name = Data.user.name;
    $scope.say = function(msg) {
      // XXX use $location instead
      var url = window.location.pathname + '/say';
      $scope.name = Data.user.name;
      $http.post(url, {'msg': msg, 'who': $scope.name})
    }

    Events.listenFor('d', function(msg) {
      if (msg.event == 'msg') {
        $scope.messages.push(msg);
      }
    })
  });
  </script>
</body>
</html>